<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlos.mapper.WlosEntitySourceMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.wlos.entity.WlosEntitySource">
                    <id column="uuid" property="uuid"/>
                    <result column="company_id" property="companyId"/>
                    <result column="task_name" property="taskName"/>
                    <result column="jdbc_type" property="jdbcType"/>
                    <result column="jdbc_name" property="jdbcName"/>
                    <result column="jdbc_url" property="jdbcUrl"/>
                    <result column="jdbc_port" property="jdbcPort"/>
                    <result column="jdbc_user_name" property="jdbcUserName"/>
                    <result column="jdbc_password" property="jdbcPassword"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            uuid, company_id, task_name, jdbc_type, jdbc_name, jdbc_url, jdbc_port, jdbc_user_name, jdbc_password
        </sql>

</mapper>